<head>
    <!--javascript-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" > </script>
    <script src="/assets/js/script.js" > </script>

    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    
    <!--stylesheets-->
    <link rel="stylesheet" href="/assets/css/layout.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    
    <!--favicon-->
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    
    <title>Mark Rucker</title>
</head>
