<head>
    <!--javascript-->
    <script async src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" > </script>
    <script async src="/assets/js/script.js" > </script>

    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    
    <!--stylesheets-->
    <link rel="stylesheet" href="/assets/css/master.css" />
    
    <!--favicon-->
    <link rel="shortcut icon" href="/assets/favicon.ico" />

    <!--encoding-->
    <meta charset="utf-8">    

    <title>Mark Rucker</title>
</head>
