html {
	/* we force the scroll bar to always show so that 
	content doesn't shift when the scrollbar hides/shows*/
	overflow-y: scroll;
}

body {
	margin : 0 auto;
	width  : 670px;
	padding: 40px
}

body header h1 { 
	margin : 0px;
	padding: 0px;
}

body header p {
	margin : 0 0 5px 0;
	padding: 0;
}

body header nav {
	margin  : 0px;
	padding : 0px;
}

body header nav ul {
 	margin  : 0px;
	padding : 0px;
	overflow: hidden; /*force the floating li's to take their space in the document flow*/
}

body header nav ul li {
	float: left;
}

body header nav ul li a {
 	display: block; 
	margin : 8px 30px 8px 2px;
}
