html {
	font-family: 'Open Sans';
}

body header h1 { 
	font-size  : 40px;
	font-weight: normal;
}

 body nav {
	border-bottom: 1px solid #ccc; 
	border-top   : 1px solid #ccc;
}

body nav ul {
	list-style: none;
}

body nav ul li a {
	text-decoration: none;
	font-weight    : bold;
	color          : #000;
}

body nav li a:hover {
	color           : #c00;
	background-color: #fff; 
}
