html {
	/* we force the scroll bar to always show so that 
	 * content doesn't shift when the scrollbar hides/shows*/
	overflow-y: scroll;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*start header */
body header p {
	margin-bottom: 5px;
}

body header h1 { 
	font-size  : 40px;
	font-weight: normal;
	padding    : 0px;
	margin     : 0px;
	margin-top : 1rem;
}

body header nav {
	border-bottom: 1px solid #ccc; 
	border-top   : 1px solid #ccc;
}

body header nav .row {
	margin-top   : 8px;
	margin-bottom: 8px;
}

body header nav div a {
	text-decoration: none;
	font-weight    : bold;
	color          : #000;
}

body header nav div a:hover {
	color           : #c00;
	background-color: #fff; 
}
/*finish header*/

/*start content*/
#content {
	margin-left: 1rem;
	margin-top: 1rem;
}
/*finish content*/

/*start posts*/
.posts ul {
	list-style: none;
	padding   : 0px;
}

.posts ul li {
	margin-bottom: 1rem;
}
/*finish posts*/

/*start post*/
.post .body h1,
.post .body h2, 
.post .body h3 { 
	margin: 0;
}

.post {
	font-size:0.875em;
	max-width:700px;
}

.post .title {
	margin: 0 0 10px 0;
}

.post .title h1 {
	font-size:30px;
	font-weight:bold;
	margin: 0;
}

.post .title h2 {
	font-size:11px;
	margin: 0;
}

.post .body ol, 
.post .body ul {
	margin: 0.3em 0 0 1.6em;
	padding: 0px;
}

.post .body p {
	margin:0.5em 0px;
}

.post .body h1 {
	font-weight: bold;
	font-size: 20px;
	margin: 30px 0px 0px 0px;
	border-bottom:1px solid #a2a9b1;
}

.post .body h2 {
	/*font-weight: bold;*/
	font-style: italic;
	font-size: 18px;
	margin: 15px 0px 0px 0px;
}

.post .body h3 {
	font-size: 18px;
}

.post .body .bib ol {
	list-style:none;
	/*padding   : 0px;*/
}
/*finish post*/
