html {
	/* we force the scroll bar to always show so that 
	 * content doesn't shift when the scrollbar hides/shows*/
	overflow-y: scroll;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*start banner */
#banner a {
	text-decoration: none;
	color          : #000;
}

#banner h1 { 
	font-size: 2.5rem;
	padding  : 0 0 0 0;
	margin   : 1rem 0 0 0;
}

#banner h1 a:hover {
	color : #000
}

#banner h2 {
	font-size    : 1rem;
	margin-bottom: 5px;
}

#banner nav {
	border-bottom: 1px solid #ccc; 
	border-top   : 1px solid #ccc;
	padding      : 8px 0 8px 0;
	font-weight  : bold;
}

#banner nav a:hover {
	color : #c00;
}
/*finish banner*/

/*start content*/
#content {
	margin-left: 1rem;
	margin-top : 1rem;
	max-width:700px;
}
/*finish content*/

/*start misc*/
.top-list {
	list-style-type: none;
	padding        : 0px;
}

.top-list li {
	margin-bottom: 1rem;
}
/*finish misc*/

/*start signature*/
.signature p {
	margin: 0;
}

.signature .text {
	font-style:italic;
}

.signature .name {
	font-weight:bold;
}

.signature svg {
	width: 1.25em;
	margin: 0 .2em 0 .2em;
	color:#444;
}
/*finish signature*/

/*start post*/
#post {
	font-size:0.875rem;
}

#post * {
	margin : 0;
	padding: 0;
}

#post .title {
	margin: 0 0 10px 0;
}

#post .title h1 {
	font-size  :1.9rem;
	font-weight:bold;
}

#post .title h2 {
	font-size:0.75rem;
}

#post .body h1 {
	font-weight  : bold;
	font-size    : 1.25rem;
	margin       : 30px 0px 0px 0px;
	border-bottom: 1px solid #a2a9b1;
}

#post .body h2 {
	font-style: italic;
	font-size : 1.1rem;
	margin    : 15px 0px 0px 0px;
}

#post .body h3 {
	font-size: 1rem;
}

#post .body p {
	margin: 0.5rem 0px;
}

#post .body ol, 
#post .body ul {
	margin: 0.3rem 0 0 1.6rem;
}

#post .body li {
	margin: 0 0 .15rem
}

#post .body .katex-display {
	margin: 0.75rem 0;
}

#post .body .bibliography {
	margin: 0.5rem 0 0 0;
}

#post .body .bibliography {
	list-style: none;
	counter-reset: index;
}

#post .body .bibliography li {
	counter-increment: index;
	position: relative;
	margin-left: .5rem;
	padding-left: 1.75rem;
}

#post .body .bibliography li::before {
	content: "[" counter(index) "]";
	position: absolute;
	left: -0rem;
}
/*finish post*/
